body {
    background-color: grey;
    font-family: sans-serif;
    text-align: center;
}

div {
    padding: 5px;
}

section {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 300px;
    margin: auto;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.664) ;
}

footer {
    font-size: 20px;
}